# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*.pyc
*$py.class
*.pyc

# git hook (to manage differences betweens windows and unix)
.git/hook/

# Environments
venv/
.env

# Django stuff:
*.log
db.sqlite3
**/migrations/

# Staticfiles
staticfiles/

# Coverage folder
coverage/
